html {
   scroll-behavior: smooth;
}

body.index {
   font-family: 'Inter', sans-serif;
   background-color: var(--blue);

   section.main {
      padding: 2vw;
      position: relative;
      height: 100vh;
      width: 99.1vw;

      & > header {
         display: flex;
         flex-direction: row;
         justify-content: space-between;

         img {
            width: 6vw;

            &:hover {
               transition: all 0.5s ease;
               transform: rotate(180deg);
            }
         }

         & > div.header__panel {
            display: flex;
            align-items: center;
            a {
               font-size: 0.9vw;
               margin-left: 2vw;
               color: var(--white);

               &:nth-of-type(1) {
                  margin-left: 0vw;
               }
            }
         }
      }

      div.main__elements {
         margin: 6.5vw 0 0 12.5vw;

         .elements__text {
            color: var(--white);

            h1 {
               font-size: 3.5vw;
               font-weight: 400;
               margin-bottom: 1.5vw;
            }

            p {
               width: 90%;
               font-size: 4.75vw;
               line-height: 117%;
               font-weight: 800;
            }
         }

         button {
            margin-top: 2vw;
            width: 10.75vw;
            height: 3.13vw;
            border-radius: 10px;
            font-size: 1.1vw;
            font-weight: 600;
            text-transform: uppercase;
            border: 0;
            color: var(--white);
            background: var(--gradient);

            &:hover {
               transition: all 0.25s ease;
               color: black;
            }
         }
      }

      & > img {
         position: absolute;
         top: 0;
         right: 0;
         width: 100%;
         height: 100vh;
         z-index: -1;
         object-fit: cover;
      }
   }

   section.advantages {
      scroll-margin-block-start: 12.5vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;

      div.advantages__item {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 20vw;
         height: 20vw;
         margin: 3.5vw 2vw;

         img {
            width: 3vw;
         }

         h1,
         p {
            color: var(--white);
            text-align: center;
         }

         h1 {
            margin-top: 1vw;
            font-size: 1.5vw;
            font-weight: 700;
         }

         p {
            margin-top: 1vw;
            font-size: 1vw;
            font-weight: 400;
            line-height: 140%;
         }
      }
   }

   section.about {
      padding: 2vw;
      position: relative;
      height: 110vh;
      width: 99.1vw;

      div.about__title {
         margin: 9vw auto 0;
         text-align: center;
         color: var(--white);

         h1 {
            font-size: 3.4vw;
            font-weight: 800;
            line-height: 117%;
         }

         hr {
            margin: 2vw auto 2vw;
            width: 3.15vw;
            border: 2.5px solid var(--white);
            background-color: var(--white);
         }

         p {
            margin: 0 auto;
            width: 67.5vw;
            font-size: 1.3vw;
            line-height: 132%;
            font-weight: 500;
         }
      }

      div.about__items {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 0vw auto 0;
         width: 80%;

         div.item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 21vw;
            height: 20vw;
            margin: 1vw 2vw;

            div.item__header {
               display: flex;
               flex-direction: row;
               gap: 1vw;

               img {
                  width: 3vw;
               }

               h1 {
                  margin-top: 1vw;
                  font-size: 1.5vw;
                  font-weight: 700;
                  text-align: center;
               }
            }

            h1,
            p {
               color: var(--white);
            }

            p {
               margin-top: 1vw;
               font-size: 1vw;
               font-weight: 400;
               line-height: 140%;
            }
         }
      }

      & > img {
         position: absolute;
         top: 0;
         right: 0;
         width: 100%;
         height: 105vh;
         z-index: -1;
         object-fit: cover;
      }
   }

   section.contacts {
      scroll-margin-block-start: -2.5vw;
      padding: 2vw;
      position: relative;
      height: 100vh;

      div.contacts__title {
         margin: 15vw auto 0;
         text-align: center;
         color: var(--white);

         h1 {
            font-size: 3.4vw;
            font-weight: 800;
            line-height: 117%;
         }

         hr {
            margin: 2vw auto 2vw;
            width: 3.15vw;
            border: 2.5px solid var(--white);
            background-color: var(--white);
         }

         p {
            margin: 0 auto;
            font-size: 1.3vw;
            line-height: 132%;
            font-weight: 500;
         }
      }

      div.contacts__email {
         margin-top: 4vw;
         display: flex;
         flex-direction: row;
         justify-content: center;
         gap: 3vw;

         a {
            font-size: 1.25vw;
            font-weight: 400;
            padding: 1vw 2.15vw;
            color: var(--white);
            border: 3px solid transparent;
            border-image: var(--gradient);
            border-image-slice: 1;

            &:hover {
               border: 3px solid var(--white);
            }
         }
      }
   }

   footer {
      margin-top: 5vw;
      font-size: 0.75vw;
      text-align: center;
      color: #515151;
   }
}

@media screen and (min-width: 2000px) {
   body.index {
      section.main {
         & > header {
            & > div.header__panel {
               a {
                  font-size: 0.75vw;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   body.index {
      section.main {
         padding: 5vw;
         height: 80vh;
         width: 100vw;
         & > header {
            img {
               width: 10vw;
            }
            & > div.header__panel {
               a {
                  font-size: 2vw;
                  margin-left: 3vw;
               }
            }
         }

         div.main__elements {
            margin: 16vw 0 0 0vw;

            .elements__text {
               h1 {
                  font-size: 4vw;
               }
               p {
                  font-size: 8.5vw;
               }
            }

            button {
               width: 17.75vw;
               height: 5.13vw;
               font-size: 1.75vw;
            }
         }
         & > img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
         }
      }

      section.advantages {
         scroll-margin-block-start: 0vw;

         div.advantages__item {
            img {
               width: 5vw;
            }
            h1 {
               font-size: 1.8vw;
            }
            p {
               font-size: 1.3vw;
            }
         }
      }

      section.about {
         padding: 2vw;
         position: relative;
         height: 60vh;
         width: 100vw;
         div.about__title {
            margin: 9vw auto 0;
            h1 {
               font-size: 6vw;
            }
            hr {
               width: 4vw;
               border: 2px solid var(--white);
            }
            p {
               width: 75vw;
               font-size: 2vw;
            }
         }

         div.about__items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 7vw;
            margin: 3vw auto 0;
            width: 80%;

            div.item {
               width: 25vw;
               height: 25vw;
               margin: 1vw 2vw;

               div.item__header {
                  img {
                     width: 5vw;
                  }
                  h1 {
                     font-size: 1.5vw;
                  }
               }
               p {
                  font-size: 1.3vw;
               }
            }
         }

         & > img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
         }
      }

      section.contacts {
         scroll-margin-block-start: 0vw;
         padding: 5vw;
         min-height: 40vh;
         height: 65vh;
         div.contacts__title {
            margin: 15vw auto 0;

            h1 {
               font-size: 6vw;
            }

            hr {
               margin: 2vw auto 2vw;
               width: 4vw;
               border: 2px solid var(--white);
            }

            p {
               width: 70vw;
               font-size: 2vw;
            }
         }

         div.contacts__email {
            margin-top: 8vw;
            gap: 4vw;

            a {
               font-size: 2.2vw;
            }
         }
      }

      footer {
         margin-top: 5vw;
         font-size: 1vw;
         text-align: center;
         color: #515151;
      }
   }
}

@media screen and (max-width: 430px) {
   body.index {
      section.main {
         padding: 5vw 5vw 30vw;
         height: clamp(60vh, 100%, 75vh);
         width: 100vw;
         & > header {
            img {
               width: 7vw;
            }
            & > div.header__panel {
               a {
                  font-size: 2.5vw;
                  margin-left: 4vw;
               }
            }
         }

         div.main__elements {
            margin: 25vw 0 0 0vw;

            .elements__text {
               h1 {
                  font-size: 4vw;
               }
               p {
                  margin-top: 1vw;
                  font-size: 10vw;
               }
            }

            button {
               width: 26.75vw;
               height: 8.5vw;
               font-size: 3vw;
            }
         }
      }

      section.advantages {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin: 15vw auto;

         div.advantages__item {
            width: 80vw;
            margin: 20vw 2vw;
            img {
               width: 10vw;
               margin-bottom: 5vw;
            }
            h1 {
               font-size: 5vw;
            }
            p {
               font-size: 4vw;
            }
         }
      }

      section.about {
         padding: 2vw 2vw 17.5vw;
         height: clamp(105vh, 100%, 140vh);
         width: 100vw;
         div.about__title {
            margin: 15vw auto 0;
            h1 {
               font-size: 8vw;
            }
            hr {
               width: 4vw;
               border: 1.5px solid var(--white);
               margin: 3vw auto;
            }
            p {
               width: 85vw;
               font-size: 4vw;
               line-height: 140%;
            }
         }

         div.about__items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25vw auto 0;
            width: 95%;

            div.item {
               width: 90vw;
               height: 25vw;
               margin: 8vw 2vw;

               div.item__header {
                  img {
                     width: 10vw;
                  }
                  hr {
                     width: 4vw;
                     border: 1.5px solid var(--white);
                     margin: 3vw auto;
                  }

                  h1 {
                     margin-left: 2vw;
                     font-size: 5vw;
                  }
               }
               p {
                  text-align: center;
                  width: 85vw;
                  font-size: 4vw;
               }
            }
         }

         & > img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
         }
      }

      section.contacts {
         scroll-margin-block-start: 0vw;
         padding: 0vw;
         height: 65vh;
         margin-bottom: 45vw;
         div.contacts__title {
            margin: 15vw auto 0;

            h1 {
               font-size: 8vw;
            }
            hr {
               width: 4vw;
               border: 1.5px solid var(--white);
               margin: 3vw auto;
            }
            p {
               width: 85vw;
               font-size: 4vw;
               line-height: 140%;
            }
         }

         div.contacts__email {
            margin-top: 17vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3vw;

            a {
               font-size: 4.5vw;
               padding: 2vw 4.15vw;
            }
         }
      }

      footer {
         font-size: 2.5vw;
         width: 90%;
         margin: 10vw auto -2vw;
      }
   }
}

// @media screen and (min-height: 899px) {
//    body.index {
//       section.about {
//          height: 105vh;
//          width: 100vw;
//       }
//    }
// }

// @media screen and (min-height: 640px) and (max-height: 890px) {
//    body.index {
//       section.about {
//          height: 145vh;
//          width: 100vw;
//       }
//    }
// }
